.ButtonBox {
    position: relative;
    display: flex;
    /*background-color: #c6a0c5;*/
    color: black;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2rem 0;
    padding: .8rem;
    min-width: var(--min-width);
}

.ButtonBox .FileInput {
    display: flex;
    justify-content: center;
    align-items: center;
}
