.Label {
    display: inline-flex;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    white-space: nowrap;
    height: .4rem;
    user-select: none;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translateY(.35rem) translateX(-1rem);
}

.TextBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.50em;
    font-weight: 700;
    transform: translateY(1px);
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

@media only screen and (max-width: 700px) {
    .Label {
        transform: translateY(2.6rem) translateX(8.35rem);
    }
}
