#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style: none;
}

.card {
  padding: 2em;
}

.todoInput {
  display: flex;
  justify-content: space-around;
  /*width: 20rem;*/
}

.App {
  width: 100%;
}